.azul {
    background-color: rgb(56, 132, 134);
}

.verde {
    background-color: rgb(27, 94, 83);
}

.fundo-resultados {
    background-color: rgb(168, 197, 197);
}

.resultados > .row {
    overflow-x: auto;
    white-space: nowrap;
}

.resultados > .row > .col-xs-4 {
    display: inline-block;
    float: none;
  }

.fonte-titulo {
    font-family: 'Caveat', cursive;
    font-size: xx-large;
}

.fonte-vermelha {
    color: red;
}

.fonte-verde {
    color: green;
}

thead td {
    font-weight: bold;
}

td {
    min-width: 200px;
    padding: 5px;
    border: 2px solid rgb(35, 87, 71);
    text-align: center;
}

