.azul {
    background-color: rgb(56, 132, 134);
}

.verde {
    background-color: rgb(27, 94, 83);
}

.fonte-titulo {
    font-family: 'Caveat', cursive;
    font-size: xx-large;
}

.fonte-vermelha {
    color: red;
}

.fonte-verde {
    color: green;
}